.bg{
    background-color: black;
    padding: 10px;
    text-align: center;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin: 0 !important;

    color: #929CA9;
}

.hr2{
    width: 25%;
    

    border: 3px dashed rgba(146, 156, 169, 0.45);
}